doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(href='/assets/style.css' rel='stylesheet')
  title Trang chủ - Get Link Flickr
body
    section.m-auto.h-screen.items-center.justify-center.flex.text-3xl(class='w-1/2')
        h1 Không có gì ở đây đâu ╰(▔∀▔)╯